
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #333;
  overflow: hidden;
  }

nav a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
  display: block;  
  cursor: pointer; 
  border: none;
  cursor: pointer; 
  background: none;
  padding: 9px;
  margin-top: 9px;
  margin-right: 20px;
  font-size: 15px;
  margin-bottom: 5px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  }
  
.sticky + .content {
  padding-top: 102px;
}

nav a:hover {
  background: rgb(232, 245, 250);
  background: #ddd;
  border-radius: 13px;
  opacity: 0.9;
}

.login-container button {
  font-family: quatro,sans-serif;
  float: right;
  padding: 9px;
  margin: 20px;
  margin-top: 5px;
  margin-right: 18px;
  margin-bottom: 13px;
  margin-left: -10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: none;
  color: rgb(255, 255, 255);
}
body {
  background-image: url("https://wallpaperaccess.com/full/2704071.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.login-container button:hover {
  background: rgb(232, 245, 250);
  background: #ddd;
  border-radius: 13px;
  opacity: 0.9;
}

#bgid{
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
#hola {
  width: 26%;
  max-width: 80%;
  padding-left: 42px;
  overflow: hidden;
  display: flex;
  line-height: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 5vh;
  font-size: 32px;
  text-align: left;
  margin: 40px;
  background-color: white;
  color: black;
  border-radius: 26px;
}
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: quatro,sans-serif;
    }
    html {
      font-size: 62.5%;
      margin: 0;
      padding: 0;
    }
    body{
      margin: 0;
      padding: 0;
      overflow-y: auto;
    }

      
    .container {
      width: 100%;
      height: 100vh;
      color: #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      
    }
    
    
    .calendar {
      width: 46rem;
      height: 52rem;
      background-color: #222227;
      box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
    }
    
    .month {
      width: 100%;
      height: 12rem;
      background-color: rgb(138 78 197);
      color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      text-align: center;
    }
    
    .month i {
      font-size: 2.5rem;
      cursor: pointer;
    }
    
    .month h1 {
      font-size: 3rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      margin-bottom: 1rem;
    }
    
    .month p {
      font-size: 1.6rem;
    }
    
    .weekdays {
      width: 100%;
      height: 5rem;
      padding: 0 0.4rem;
      display: flex;
      align-items: center;
      
    }
    
    .weekdays div {
      font-size: 1.5rem;
      font-weight: 400;
      letter-spacing: 0.1rem;
      width: calc(44.2rem / 7);
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    }
    
    .days {
      width: 100%;
      display: inline-block;
      flex-wrap: wrap;
      padding: 0 0;
      background-color: #222227;
      color: white;
      border-color:#222227;
      margin-top: -2px;
      margin-bottom: -2px;
    
      
      
      
      
    }
    
    .days div {
      font-size: 1.4rem;
      margin: 0.3rem ;
      width: calc(40.2rem / 7);
      height: 5rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
      transition: background-color 0.2s;
      border: #222227;
      
      

      
      
    }
    .btn{
      padding: 0 0;
      margin: 0 0;
      border-radius: 0px;
      border: #222227;
    }
    
    
    .days div:hover:not(.today) {
      background-color: #262626;
      border: 0.2rem solid #777;
      cursor: pointer;
    }
    
    .prev-date,
    .next-date {
      opacity: 0.5;
    }
    
    .today {
      background-color:  rgb(138 78 197);
    }
    footer {
      background-color: #333;
      overflow: hidden;
  }
  
  footer a {
      text-decoration: none;
      padding: 20px;
      text-align: center;
      float: left;
      color: white;
      display: block;  
      cursor: pointer; 
      border: none;
      background: none;
      padding: 9px;
      margin-top: 9px;
      margin-right: 20px;
      margin-bottom: 5px;
      margin-left: 20px;
      font-size: 15px;
      margin: 13px;
  }
  footer a:hover {
      background: rgb(232, 245, 250);
      background: #ddd;
      border-radius: 13px;
      opacity: 0.9;
  }
  footer div{
      color: white;
      margin-top: 21px;
      float: right;
      margin-right: 200px;
  }
  #twitter {
      height: 33px;
      width: 33px;
      margin: 12px;
      margin-top: -4px;
      position: absolute;
      right: 0%;
      cursor: pointer;
  }
  #insta {
      height: 28px;
      margin: 58px;
      margin-top: -4px;
      position: absolute;
      right: 0%;
       cursor: pointer;
  }
  #gmail {
      height: 30px;
      margin: 99px;
      margin-top: -5px;
      position: absolute;
      right: 0%;
       cursor: pointer;
  }